{% extends "base.html" %}
{% block content %}
    <form action="/form/p={{ page_num }}" method="post">
        <h2>Page {{ page_num }} of {{ num_pages }}</h2>
        {% for video in videos %}
            <div>
            <video height="150" controls>
                <source src="{{ video }}" type="video/mp4">
            </video><br>
            <input type="checkbox" value="{{ video }}" name="lip_move_{{ loop.index0 }}"> Lip movement<br>
            <input type="checkbox" value="{{ video }}" name="speech_{{ loop.index0 }}"> Speech<br>
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}